/* Retrait de la margin naturelle du body + mise en place d'une police général */
body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
}

/* Définition des couleurs de fond de la page. */
div.bg-purple {
    background-color: #6b52e6;
}
div.bg-white {
    background-color: #ffffff;
}
div.bg-darkblue {
    background-color: #203966;
}

/* Définition de la classe container pour accueilir des row. */
div.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
}

/* Définition de la classe row pour accueillir des col. */
div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

/* Définition de la classe col. */
div.col {
    display: flex;
    flex-direction: column;

}