/* Retrait de la margin naturelle du body + mise en place d'une police général */
body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
}

/* MEDIA QUERIES RULES */
@media all and (min-width: 1200px) {

    /* Définition de la classe container pour accueilir des row. */
    .container {
        display: flex;
        flex-direction: column;
        width: 1140px;
        margin: 0 auto;
        padding: 50px;
    }

    /* Redimenssionement des textes. */
    p + li {
        font-size : 12px;
    }


}
@media all and (min-width: 992px) and (max-width: 1200px) {

    /* Définition de la classe container pour accueilir des row. */
    .container {
        display: flex;
        flex-direction: column;
        width: 960px;
        margin: 0 auto;
        padding: 40px;
    }

    /* Redimenssionement des textes. */
    p + li {
        font-size : 11px;
    }


}
@media all and (min-width: 768px) and (max-width: 992px) {

    /* Définition de la classe container pour accueilir des row. */
    .container {
        display: flex;
        flex-direction: column;
        width: 720px;
        margin: 0 auto;
        padding: 30px;
    }

    /* Redimenssionement des textes. */
    p + li {
        font-size : 10px;
    }


}
@media all and (min-width: 576px) and (max-width: 768px) {

    /* Définition de la classe container pour accueilir des row. */
    .container {
        display: flex;
        flex-direction: column;
        width: 540px;
        margin: 0 auto;
        padding: 20px;
    }

    /* Redimenssionement des textes. */
    p + li {
        font-size : 9px;
    }
}
@media all and (max-width: 576px) {

    /* Définition de la classe container pour accueilir des row. */
    .container {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0 auto;
        padding: 10px;
    }

    /* Redimenssionement des textes. */
    p + li {
        font-size : 8px;
    }

}



/* Définition des couleurs de fond de la page. */
div.bg-purple {
    background-color: #6b52e6;
}
.bg-white {
    background-color: #ffffff;
}
.bg-darkblue {
    background-color: #203966;
}
.bg-blue {
    background-color: #4376b9;
}

/* Définition de la classe row pour accueillir des col. */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Définition de la classe col. */
.col {
    display: flex;
    flex-direction: column;

}

/* Classe permettant de centrer verticalement et horizontalement */
.center {
    justify-content: center;
}

/*  */
mark {
	background-color: #86eca5;
	color: #203966;
}

/* Sans margin */
.m-0 {
    margin: 0;
}
/* Sans padding */
.p-0 {
    padding: 0;
}
/* Padding Réseaux */
.p-1 {
    padding: 10px;
}
/* Margin Réseaux */
.m-2 {
    margin: 20px 20px 20px 0px;
}

/* Flex Start */
.flex-start {
 justify-content: flex-start;
}

/* Couleurs de texte */
.text-white {
    color: #ffffff;
}
.text-darkblue {
    color: #203966;
}
