/* Retrait de la margin naturelle du body + mise en place d'une police général */
body {
	margin: 0px;
	font-family: 'Ubuntu', sans-serif;
}

/* Définition des couleurs de fond de la page. */
div.bg-purple {
    background-color: #6b52e6;
    min-width :  1200px;
}
.bg-white {
    background-color: #ffffff;
    min-width :  1200px;
}
.bg-darkblue {
    background-color: #203966;
    min-width :  1200px;
}
.bg-blue {
    background-color: #4376b9;
}

/* Définition de la classe container pour accueilir des row. */
.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
}

/* Définition de la classe row pour accueillir des col. */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Définition de la classe col. */
.col {
    display: flex;
    flex-direction: column;

}

/* Classe permettant de centrer verticalement et horizontalement */
.center {
    justify-content: center;
}

/*  */
mark {
	background-color: #86eca5;
	color: #203966;
}

/* Sans margin */
.m-0 {
    margin: 0;
}
/* Sans padding */
.p-0 {
    padding: 0;
}
/* Padding Réseaux */
.p-1 {
    padding: 10px;
}
/* Margin Réseaux */
.m-2 {
    margin: 20px 20px 20px 0px;
}

/* Flex Start */
.flex-start {
 justify-content: flex-start;
}

/* Couleurs de texte */
.text-white {
    color: #ffffff;
}
.text-darkblue {
    color: #203966;
}
